<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EBServices</display-name>
  <welcome-file-list>
 <welcome-file>home.jsp</welcome-file>
  <welcome-file>adminRegister.jsp</welcome-file>
  <welcome-file>adminLogIn.jsp</welcome-file>
  <welcome-file>userHome.jsp</welcome-file>
   <welcome-file>adminHome.jsp</welcome-file>
  <welcome-file>userRegister.jsp</welcome-file>
  <welcome-file>adminAccessCustomer.jsp</welcome-file>
  <welcome-file>adminFormTable.jsp</welcome-file>
   <welcome-file>billTable.jsp</welcome-file>
   <welcome-file>formTable.jsp</welcome-file>
   <welcome-file>customerBillTable.jsp</welcome-file>
    <welcome-file>customerBill.jsp</welcome-file>
    <welcome-file>complaint.jsp</welcome-file>
    <welcome-file>complaintTable.jsp</welcome-file>
    <welcome-file>customerComplaintStatus.jsp</welcome-file>
      <welcome-file>paymentProcessForm.jsp</welcome-file>
        <welcome-file>paymentTable.jsp</welcome-file>
        <welcome-file>adminPaymentTable.jsp</welcome-file>
       <welcome-file>customerPaidBills.jsp</welcome-file>  
    <welcome-file>rectifiedComplaintTable.jsp</welcome-file> 
        <welcome-file>userPaymentTable.jsp</welcome-file> 
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>