<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EBServices</display-name>
  <welcome-file-list>
  <welcome-file>Home.jsp</welcome-file>
  <welcome-file>AdminRegister.jsp</welcome-file>
  <welcome-file>AdminLogIn.jsp</welcome-file>
   <welcome-file>AdminHome.jsp</welcome-file>
  <welcome-file>UserRegister.jsp</welcome-file>
  <welcome-file>AdminAccessCustomer.jsp</welcome-file>
  <welcome-file>AdminFormTable.jsp</welcome-file>
   <welcome-file>BillTable.jsp</welcome-file>
   <welcome-file>FormTable.jsp</welcome-file>
   <welcome-file>CustomerBillTable.jsp</welcome-file>
    <welcome-file>CustomerBill.jsp</welcome-file>
    <welcome-file>Complaint.jsp</welcome-file>
    <welcome-file>ComplaintTable.jsp</welcome-file>
    
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>